html{color:#000;background:#eceff6;font-family:Microsoft YaHei,sans-serif,Arial,'宋体';}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td,strong{padding:0;margin:0;font-family:Microsoft YaHei,sans-serif,Arial;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
a{text-decoration:none; color:#333; outline:none;}/*此处待添加默认链接颜色*/
var,em,strong{font-style:normal;}
address,caption,cite,code,dfn,em,strong,th,var, optgroup{font-style:inherit;font-weight:inherit;}
del,ins{text-decoration:none;}
li{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
q:before,q:after{content:'';}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:baseline;}
sub{vertical-align:baseline;}
legend{color:#000;}
input,button,textarea,select,optgroup,option{font-family:inherit; font-size:inherit;font-style:inherit;font-weight:inherit;}
input,button,textarea,select{*font-size:100%;}
.clearfix:after {display:block;height:0;content:"\200B";clear:both;} 
/*body{-webkit-user-select:none;-webkit-text-size-adjust:none;-webkit-transform-style:preserve-3d;}*/
*{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.ellipsis{overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
input[type="button"], input[type="submit"], input[type="reset"] {-webkit-appearance:none;}
html,body{min-height:100%}
input {
	outline:none;
	border:0;
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
    -moz-box-shadow: 0 0 0px 1000px #fff inset;
    -ms-box-shadow: 0 0 0px 1000px #fff inset;
    -o-box-shadow: 0 0 0px 1000px #fff inset;
    box-shadow: 0 0 0px 1000px #fff inset;
}
/*导航*/
.nav {
	background-color: #fff;
}
.nav-step {
	padding: 0.6rem 7.81% 0;
}
.nav-inner {
	position: relative;
	width: 100%;
	padding-top: 9.26%;
	background: url('../images/nav_back.png') no-repeat 0 0;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}
.nav-bar {
	height: 100%;
	background-color: #efeff4;
}
.progress {
	position: absolute;
	left: 4.63%;
	top: 50%;
	width: 90.74%;
	height: 0.15rem;
	margin-top: -0.05rem;
	background-color: #0084e9;
}
.nav-inner ul {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-box;
	display: -o-box;
	display: box;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-box-pack: justify;
	box-pack: justify;
}
.nav-inner ul li {
	position: relative;
	width: 9.26%;
	height: 100%;
	color: #090909;
	font-size: 0.6rem;
	line-height: normal;
	text-align: center;
}
.nav-inner li b {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 1rem;
	margin: auto;
	line-height: 1rem;
	font-weight: normal;
}
.nav-inner ul .pass {
	background-color: #02a7e3;
	color: #fff;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;
}
.nav-tit li {
	float: left;
	width: 25%;
	height: 1.65rem;
	color: #000;
	font: normal 0.6rem/1.65rem "Microsoft YaHei";
	text-align: center;
}
.step1 li:first-child b {
	display: none;
}
.step1 .nav-inner li:first-child,
.step2 .nav-inner li:nth-child(2),
.step3 .nav-inner li:nth-child(3),
.step4 .nav-inner li:nth-child(4) {	
	background: url('../images/empty_dot.png') no-repeat center center;
	-webkit-background-size: 76%;
	-moz-background-size: 76%;
	-ms-background-size: 76%;
	-o-background-size: 76%;
	background-size: 76%;
}
.step2 .nav-inner li:nth-child(1),
.step3 .nav-inner li:nth-child(1),
.step3 .nav-inner li:nth-child(2),
.step4 .nav-inner li:nth-child(1),
.step4 .nav-inner li:nth-child(2),
.step4 .nav-inner li:nth-child(3) {
	background: url('../images/right.png') no-repeat center center;
	-webkit-background-size: 76%;
	-moz-background-size: 76%;
	-ms-background-size: 76%;
	-o-background-size: 76%;
	background-size: 76%;
}
.step1 li:first-child,
.step2 li:nth-child(2),
.step3 li:nth-child(3),
.step4 li:nth-child(4) {
	color: #007aff;
}
.step2 li:nth-child(1) b,
.step2 li:nth-child(2) b,
.step3 li:nth-child(1) b,
.step3 li:nth-child(2) b,
.step3 li:nth-child(3) b,
.step4 li:nth-child(1) b,
.step4 li:nth-child(2) b,
.step4 li:nth-child(3) b,
.step4 li:nth-child(4) b {
	display: none;
}
.step1 .progress {
	width: 0;
}
.step2 .progress {
	width: 28%;
}
.step3 .progress {
	width: 58%;
}
.step4 .progress {
	width: 88%;
}
.next-step {
	width: 93.75%;
	height: 1.9rem;
	margin: 0 auto 1rem;
	background-color: #0d7aff;
	color: #fff;
	font-size: 0.7rem;
	line-height: 1.9rem;
	text-align: center;
	-webkit-border-radius: 0.13rem;
	-moz-border-radius: 0.13rem;
	-ms-border-radius: 0.13rem;
	-o-border-radius: 0.13rem;
	border-radius: 0.13rem;
}
.disabled {
	background-color: #b6b6ba;
}